body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: hwb(0 0% 100%);
    color: #fbff00;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.filme {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.filme img {
    max-width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
}